/* All common css */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* All common css */

/* Header Part Start */
#head{
    background: rgba(255, 144, 14, 0.1);
    padding: 30px 200px;
}
.container{
   
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;
}
.nav a{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #424242;
margin-left: 40px;
}
.brand{
    text-align: center;
}
.brand h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 54px;
color: #131313;
padding-top: 80px;
padding-bottom: 15px;
}
.brand p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #727272;
}
.brand button{
    background: #FF900E;
border-radius: 8px;
padding: 15px 10px;
border: none;
color: #fff;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
margin-top: 10px;
}
/* Header Part End */ 